/* Main Container Style */
.review-question-paper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    /* Changed to flex-start */
    width: 100%;
    /* Full width */
    padding-top: 20px;
    /* Adjust as needed */
}

/* Paper Item Style */
.paper-item {
    width: 80%;
    background-color: #262626;
    border: 1px solid #333333;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.paper-item:hover {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
}

/* Pagination Styles */
.pagination {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
    margin-top: 20px;
}

.pagination .page-item {
    margin: 0 5px;
}

.pagination .page-item a {
    text-decoration: none;
    color: #ffffff;
    background-color: #333333;
    border: 1px solid #444444;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

.pagination .page-item a:hover,
.pagination .page-item.active a {
    background-color: #007bff;
    color: #fff;
    border-color: #007bff;
}

/* Expand/Collapse Animation */
.paper-detail {
    overflow: hidden;
    transition: max-height 0.6s ease-in-out, opacity 0.6s ease-in-out;
    max-height: 0;
    opacity: 0;
}

.paper-detail.expanded {
    max-height: 1000px;
    /* Adjust as needed */
    opacity: 1;
}