.landing-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
    background-color: #1a1a1a; /* Dark background */
    padding: 100px 0; /* Zero padding on the sides */
    font-family: 'Arial', sans-serif; /* Modern font */
}

.top-art {
    width: 100vw; /* Full viewport width */
    height: 150px;
    background-image: url('./../img/ishkul_landing_img.png');
    background-size: cover;
    background-position: center;
    background-attachment: fixed; /* Parallax effect */
    position: relative;
    margin-left: -50px; /* Adjust according to the parent's padding */
    margin-right: -50px; /* Adjust according to the parent's padding */
}

.top-art::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    backdrop-filter: blur(1px);
    background: inherit;
}

.landing-container h1 {
    color: #fff; /* Light color for text */
    font-size: 2rem;
    text-align: center;
    margin-bottom: 20px;
    position: relative;
    z-index: 1;
}

.notify-button {
    padding: 10px 20px;
    background-color: #007bff; /* Adjust for visibility */
    color: white;
    border: none;
    border-radius: 3px; /* Sleeker border-radius */
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1); /* Subtle shadow */
    position: relative;
    z-index: 1;
}

.notify-button:hover {
    background-color: #0056b3; /* Darker shade for hover */
    box-shadow: 0 4px 10px rgba(0,0,0,0.2); /* Enhanced shadow on hover */
}

.success-message {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    animation: slideUp 3s ease forwards;
}

@keyframes slideUp {
    0% { opacity: 0; transform: translateX(-50%) translateY(20px); }
    10% { opacity: 1; transform: translateX(-50%) translateY(0); }
    90% { opacity: 1; transform: translateX(-50%) translateY(0); }
    100% { opacity: 0; transform: translateX(-50%) translateY(20px); }
}

/* Additional CSS for .intro-text */
.intro-text {
    color: #f0f0f0; /* A light color that contrasts well with the dark background */
    font-size: 1.1rem;
    line-height: 1.6;
    text-align: center;
    max-width: 600px; /* Limits the width for better readability */
    margin: 20px auto; /* Vertically spaces out from other elements */
    padding: 10px; /* Adds some padding around the text */
    background-color: rgba(0,0,0,0.5); /* Semi-transparent background */
    border-radius: 8px; /* Rounded corners */
    box-shadow: 0 4px 8px rgba(0,0,0,0.3); /* Adds depth with a subtle shadow */
}
