.App {
  text-align: center;
  background-color: var(--primary-bg-color);
  color: var(--text-color);
  margin: 0;
  padding: 0;
}

/* Ensure the Navbar has no margin or padding that might cause a gap */
.Navbar {
  margin: 0;
  padding: 0;
}

/* Same for LandingPage, if necessary */
.LandingPage {
  margin: 0;
  padding: 0;
}

.App {
  background-color: var(--primary-bg-color);
  color: var(--text-color);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
