.image-form-layout {
  display: flex;
  justify-content: space-between;
  align-items: start;
  flex-wrap: nowrap;
}

.image-side, .form-side {
  flex: 1;
  min-width: 0; /* To prevent flex items from growing larger than their container */
  border: 1x solid red;
}

/* You may need to adjust the width of the image-side and form-side containers */
.image-side {
  width: 50%; /* Adjust as needed */
}

.form-side {
  width: 50%; /* Adjust as needed */
  padding: 20px;
}

input {
  display: block;
  margin: 10px 0;
}

.question-block {
  margin-bottom: 20px;
}

.question-number, .question-text {
  margin-bottom: 10px;
}

.options {
  display: flex;
  flex-wrap: wrap;
}

.option {
  flex: 1 1 45%; /* Each option takes up nearly half the width */
  margin: 5px;
}

/* Adjustments for better alignment of options */
.option-left {
  margin-right: 10px;
}

.option-right {
  margin-left: 10px;
}
