name: Go Unit Test

on: [push, pull_request]

defaults:
  run:
    shell: bash
    working-directory: ./backend

jobs:
  go-test:
    name: Go Test
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v2

      - name: Set up Go
        uses: actions/setup-go@v3
        with:
          go-version: "1.19" # Specify your Go version here

      - name: Install Dependencies
        run: go mod download

      - name: Run Go Tests
        run: go test ./... -v

      - name: Run Go Build
        run: go build ./cmd/service/main.go
