name: Python Test

on: [push, pull_request]

defaults:
  run:
    shell: bash
    working-directory: ./backend

jobs:
  terraform:
    name: Terraform Format and Validate
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v2

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Pip install requirements
        run: pip install -r requirements.txt

      - name: Run test
        run: pytest
